/** PAGINA DE COMBOS **/ 

.grilla {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    color: black;
    gap: 1rem;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
}

.grilla1 {
    transition: 0.5s;
}

.grilla1:hover {
    transform: translate(10px, -20px);
}
.grilla2 {
    transition: 0.5s;
}

.grilla2:hover {
    transform: translate(10px, -20px);
}

.grilla3 {
    transition: 0.5s;
}

.grilla3:hover {
    transform: translate(10px, -20px);
}

.grilla4 {
    transition: 0.5s;
}

.grilla4:hover {
    transform: translate(10px, -20px);
}