/** CONTACTANOS FORM **/

.formulario{
    background-color: $colorFondo;
    padding: 13rem;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 15rem;
    

.submit {
  background-color: black;
  color: #ececec;
  border: 0;
  border-radius: 0;
  padding-inline: 1rem;

}
}