.hero {
    background: $colorFondo;
    text-decoration-style: none;
}

.link {
    color: black;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 200%;
    gap: 1rem;
    letter-spacing: 2px;  
    padding-left: 3rem; 
    padding-right: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero_text {
    display: flex;
    padding-inline: 3rem;
    font-family: 'Exo 2', sans-serif;
    color: black;

.hero_text img{
    height: 1rem;
    padding-left: 15rem;
    padding-top: 2rem;
}
.hero_text h4{
    font-size: 3rem;
    padding-top: 4rem;
    flex-direction: column;
}
.hero_text h2{
    font-size: 3rem;
    padding-top: 2rem;
    flex-direction: column;
}

.hero_img {
  display: flex;
  top: 60%;
  left: 60%;
}
}
.hero_img img {
    height: 100px;
}

/*** SOMOS ***/

.somos {
    padding: 3rem;
}
.somos {
    background-image: url(../fotos/Plantilla\ 3.jpg);
    height: 1200px;
}


.somos_titulo {
    color: black;
    display: flex;
    padding-left: 30%;
    font-size: 60px;
    text-decoration: none;
}

.somos_parrafo {
    padding-top: 1rem;
    font-size: 45px;
    font-family: 'Exo 2', sans-serif;
    color: black;
}

/** PRODUCTO**/ 

.producto {
    background: $colorFondo;
    padding: 4rem;
   
}

.producto_titulo {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    font-family: 'Pacífico';
    color: black;
    text-decoration: none;
}

.producto_1 {
    justify-content: center;
    padding: 8rem;
    font-size: 5rem;

    & h5{
    font-size: 3rem;
    padding-left: 5rem;
    display: flex;
    font-family: 'Pacífico';
    color: black;
    }
    & img{
    align-items: center;
    transition: 0.5s;
    }
    & img:hover{
        transform: translate(10px, -20px);
    }
}

.producto_2{
    padding: 8rem;
    font-size: 5rem;

    & h4{
    font-size: 3rem;
    padding-left: 5rem;
    flex-direction: column;
    font-family: 'Pacífico';
    color: black;
    text-decoration: none;
    }
    & img {
    align-items: center;
    transition: 0.5s;
    }
    & img:hover{
    transform: translate(10px, -20px);
    }
}

.producto_3{
    padding: 8rem;
    font-size: 5rem;

    & h4{
    font-size: 3rem;
    padding-left: 5rem;
    flex-direction: column;
    font-family: 'Pacífico';
    color: black;
    text-decoration: none;
}
    & img{
    align-items: center;
    transition: 0.5s;
    }   
    & img:hover{
    transform: translate(10px, -20px);
    }   
}

.producto_4{
    padding: 8rem;
    font-size: 5rem;

    & h5{
    font-size: 3rem;
    padding-left: 5rem;
    flex-direction: column;
    font-family: 'Pacífico';
    color: black;
    text-decoration: none;
}

    & img{
    align-items: center;
    transition: 0.5s;
    }
    & img:hover{
    transform: translate(10px, -20px);
    }
}

/** CONTACTANOS **/

.contactanos {   
    background: $colorFondo;
    justify-content: center;

.contactanos_tit {
    color: black;
    display: flex;
    padding-left: 33%;
    font-size: 60px;
    text-decoration: none;
    align-items: center;
}

.contactanos_redes {
    padding-top: 7rem;
    padding-left: 15rem;
    align-items: center;
}
}
/** BANNER **/

.banner{
    position: absolute;
    width:100%;
}
