/** PAGINA DE PRODUCTOS **/


.productos{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem; 
    align-items: center;
    justify-content: space-evenly;
}

.productos2{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem; 
    align-items: center;
    justify-content: space-evenly;
}

.productos3 {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;  
    align-items: center;
    justify-content: space-evenly;
}

