/** PAGINA DE QUIENES SOMOS **/

.nombre_1{
    color:black;
    font-family: "Pacifico";
    font-size: 3rem;
}

.nombre_2{
    color: black;
    font-family: "Pacifico";
    font-size: 2rem;
}

.ubicacion {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    color: black;
   
}
